/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
app/
bootstrap/
database/
public/
resources/
routes/
storage/
test/
artisan
*.json
*.php
*.js
*.xml
*.lock
*.yml
README.md
.editorconfig
.env.example